.advice{
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden; 
    height: 400px;
    overflow: hidden; 
    background: #4bd1a0;
    background-size: cover;
}

.container-advice {
    position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.container-advice h1{
    font-size: 72px;
    letter-spacing: 0.2em;
    margin: 0;
}

.container-advice h1 span{
    margin: 0;
    background: url(/static/img/voice.png) no-repeat center; 
    background-size: 100px;    
    padding: 100px 100px;
    display: inline-flex;
}

.des-advice{
    margin: 20px;
    display: block;
    font-size: 26px;
    
}

.btn-advice{
    color: #313131;
    padding: 10px 24px;
    font-size: 20px;
    text-decoration: none;
    background: white;
    border-radius: 8px;
    transition: 0.3s all;
}

.btn-advice:hover{
    opacity: 0.3;
}